.biography {
  background-color: rgba($color: gray, $alpha: .4);
  &__inner {
    padding: 10vh 0;
    display: flex;
    justify-content: space-between;
    height: 80%;
  }
  &__photo img {
    width: 37vw;
    border-radius: 10px;
  }
  &__experience {
    padding: 3%;
    width: 40%;
    border-radius: 10px;
    background-color: rgba($color: white, $alpha: .8)
  }
  &__subtitle {
    margin: 10px 0;
    position: relative;
  }
}