.main {
  display: block;
  &__inner {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba($color: white, $alpha: .8);
  }
  &__photo{
    position: relative;
    height: 60vh;
  }
  &__photo img {
    margin-right: 30px;
    height: 60vh;
    border-radius: 10px;
  }
  &__info {
    max-width: 52vw;
  }
  &__services {
    margin-bottom: 30px;
  }
  &__title {
    position: relative;
    text-align: center;
    margin-bottom: 5%;
  }
  &__subtitle {
  }
}