* {
  font-family: 'Bender';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  z-index: -1;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  margin: 0 auto;
  max-width: 80vw;
  height: 100%;
}

h1 {
  font-weight: 400;
  color: white;
}

@font-face {
  font-family: 'Bender';
  src: local("Bender Light"), local("Bender-Light"), url("fonts/benderlight.woff2") format("woff2"), url("fonts/benderlight.woff") format("woff"), url("fonts/benderlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bender';
  src: local("Bender Light Italic"), local("Bender-LightItalic"), url("fonts/benderlightitalic.woff2") format("woff2"), url("fonts/benderlightitalic.woff") format("woff"), url("fonts/benderlightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Bender';
  src: local("Bender"), url("fonts/bender.woff2") format("woff2"), url("fonts/bender.woff") format("woff"), url("fonts/bender.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bender';
  src: local("Bender Italic"), local("Bender-Italic"), url("fonts/benderitalic.woff2") format("woff2"), url("fonts/benderitalic.woff") format("woff"), url("fonts/benderitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Bender';
  src: local("Bender Bold"), local("Bender-Bold"), url("fonts/benderbold.woff2") format("woff2"), url("fonts/benderbold.woff") format("woff"), url("fonts/benderbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bender';
  src: local("Bender Bold Italic"), local("Bender-BoldItalic"), url("fonts/benderbolditalic.woff2") format("woff2"), url("fonts/benderbolditalic.woff") format("woff"), url("fonts/benderbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Bender';
  src: local("Bender Black"), local("Bender-Black"), url("fonts/benderblack.woff2") format("woff2"), url("fonts/benderblack.woff") format("woff"), url("fonts/benderblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bender';
  src: local("Bender Black Italic"), local("Bender-BlackItalic"), url("fonts/benderblackitalic.woff2") format("woff2"), url("fonts/benderblackitalic.woff") format("woff"), url("fonts/benderblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Medium.woff") format("woff"), url("fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.main {
  display: block;
  background-color: rgba(128, 128, 128, 0.4);
}

.main__inner {
  padding: 4% 0;
  display: flex;
  justify-content: space-between;
  height: 60%;
}

.main__services {
  padding: 3%;
  width: 48%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.main__title {
  position: relative;
  text-align: center;
  margin-bottom: 5%;
}

.main__subtitle {
  line-height: 20px;
  margin: 10px 0;
  position: relative;
}

.header {
  color: black;
  position: absolute;
  height: 10vh;
  width: 100%;
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(157, 157, 157, 0) 100%);
}

.header__inner {
  font-size: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__inner p, .header a {
  color: black;
}

.header__logo {
  display: flex;
}

.header__logo svg {
  fill: white;
  width: 25px;
  margin-right: 15px;
}

.header__tel {
  color: black;
  text-decoration: none;
}

.calc {
  display: block;
}

.calc__input {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  cursor: pointer;
}

.calc__checkbox {
  -webkit-appearance: none;
}

.calc__bulb {
  height: 3vh;
  fill: #6b6b6b;
  position: absolute;
  right: 1%;
}

.calc__checkbox:checked ~ .calc__bulb {
  fill: #ff7800;
}

.kitchen.qwerty {
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.2);
}

.dropdown {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding: 1%;
}

.dropdown__arrow {
  height: 3vh;
  transform: rotate(90deg);
  transition: 0.2s linear;
}

.dropdown__kitchen {
  display: none;
}

.dropdown__kitchen.qwerty {
  display: block;
}

.dropdown:hover {
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.2);
}

.expanded {
  transform: rotate(270deg);
}

.biography {
  background-color: rgba(128, 128, 128, 0.4);
}

.biography__inner {
  padding: 10vh 0;
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.biography__photo img {
  width: 37vw;
  border-radius: 10px;
}

.biography__experience {
  padding: 3%;
  width: 40%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.biography__subtitle {
  margin: 10px 0;
  position: relative;
}

@media (max-width: 990px) {
  .container {
    max-width: 90vw;
  }
  .main__inner {
    display: block;
    height: inherit;
  }
  .main__services:first-child {
    margin-bottom: 4%;
  }
  .main__services {
    position: relative;
    width: 100%;
  }
}
