* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.background {
  z-index: -1;
  position: absolute;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  margin: 0 auto;
  max-width: 80vw;
  height: 100%;
}

h1 {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.main {
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.3);
}

.main__inner {
  padding: 10vh 0;
  display: flex;
  justify-content: space-between;
  height: 60%;
}

.main__services {
  padding: 3%;
  width: 40%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.main__title {
  position: relative;
  text-align: center;
  margin-bottom: 5%;
}

.main__subtitle {
  margin: 10px 0;
  position: relative;
}

.header {
  color: black;
  position: absolute;
  height: 10vh;
  width: 100%;
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(157, 157, 157, 0) 100%);
}

.header__inner {
  font-size: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__inner p, .header a {
  color: black;
}

.header__tel {
  color: black;
}

.calc {
  display: block;
}

.calc__input {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.toggle__checkbox {
  -webkit-appearance: none;
  border: 2px solid black;
  border-radius: 10px;
  height: 20px;
  width: 40px;
  outline: none;
  cursor: pointer;
  position: relative;
  vertical-align: top;
  display: flex;
  align-items: center;
}

.toggle__checkbox:checked {
  border-color: green;
}

.toggle__checkbox:not(:checked)::before {
  content: "";
  left: 0;
  position: absolute;
  margin-left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: black;
}

.toggle__checkbox:checked::after {
  content: "";
  right: 0;
  position: absolute;
  margin-right: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: green;
}

.biography {
  background-color: rgba(128, 128, 128, 0.4);
}

.biography__inner {
  padding: 10vh 0;
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.biography__photo img {
  width: 37vw;
  border-radius: 10px;
}

.biography__experience {
  padding: 3%;
  width: 40%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.biography__subtitle {
  margin: 10px 0;
  position: relative;
}
